<div class="container">
  <h1>{{ candidature.job }}</h1>
  <dl class="list">
    <dt>Entreprise</dt>
    <dd>{{ candidature.company }}</dd>
    <dt>Description de l'offre</dt>
    <dd>{{ candidature.offer_description }}</dd>
    <dt>Contact</dt>
    <dd>{{ candidature.contact }}</dd>
    <dt>Date</dt>
    <dd>{{ candidature.date | date:'short' }}</dd>
  </dl>
</div>
<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/details/', candidature._id]" class="btn btn-success">Modifier</a>
    <button class="btn btn-danger" type="button" (click)="deleteCandidature(candidature._id)">Effacer</button>
  </div>
</div>