<div class="container">
    <h2 class="my-5">Liste de candidatures</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Poste</th>
          <th>Entreprise</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidature of candidatures">
          <td>{{ candidature.job }}</td>
          <td>{{ candidature.company }}</td>
          <td><a class="lien_candidature" [routerLink]="['/details/', candidature._id]">Montrer détails</a></td>
        </tr>
      </tbody>
    </table>
</div>
