body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}
